---
layout: default
---

{% include navbar.html %}

<article class="page layout--single">
  <div class="page__inner-wrap">
    {% if site.breadcrumbs %}
      {% include breadcrumbs.html %}
    {% endif %}

    {% if page.header.image %}
      <div class="post-header-image">
        <img src="{{ page.header.image | relative_url }}" alt="{{ page.header.image_alt | default: site.title }}">
        {% if page.header.caption %}
          <p class="caption">{{ page.header.caption }}</p>
        {% endif %}
      </div>
    {% endif %}

    <div class="page__content">
      <div class="post-main">
        {{ content }}
      </div>

      {% if page.toc %}
      <aside class="post-toc">
        <div class="toc">
          <h3>Table of Contents</h3>
          {{ page.toc }}
        </div>
      </aside>
      {% endif %}
    </div>
  </div>
</article>

